<button class="btn hover:shadow-none  mb-6 bg-neutral-low border-none p-0 w-max flex" routerLink="/rounds">
<svg class="max-h-8 min-h-4 self-center pt-0.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M73.4 297.4C60.9 309.9 60.9 330.2 73.4 342.7L233.4 502.7C245.9 515.2 266.2 515.2 278.7 502.7C291.2 490.2 291.2 469.9 278.7 457.4L173.3 352L544 352C561.7 352 576 337.7 576 320C576 302.3 561.7 288 544 288L173.3 288L278.7 182.6C291.2 170.1 291.2 149.8 278.7 137.3C266.2 124.8 245.9 124.8 233.4 137.3L73.4 297.3z"/></svg>
<span class="text-nowrap">Retour à la liste</span></button>
<header class="starting:opacity-0 transition-opacity duration-400 rounded-sm border border-neutral-medium p-6 bg-white w-fit mb-6">
    @if (round$ | async; as round) {
    <div class="flex w-full justify-between mb-4">
        <h1 class="text-lg lg:text-xl xl:text-2xl font-semibold">{{ round.name }}</h1>
    </div>
    <p class="text-sm md:text-base 3xl:text-lg max-w-[75ch]">{{ round.comment }}</p>
    } @else { <not-found/>}
</header>
<app-map [id]="id()"></app-map>
