/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --color-neutral-hight: #364153;
  --color-neutral-highter: #101828;
  --color-neutral-medium: #d0d0d0;
  --color-neutral-low: #f9fafb;
  --color-primary-unico: #155dfc;
}

@plugin "daisyui";

.loader {
  position: absolute;
  inset: calc(50% - 24px);
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
