<table mat-table matSort [dataSource]="rounds">
    @for (column of columns; track column.id) {
    <ng-container [matColumnDef]="column.id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.traduction }}</th>
    <td mat-cell *matCellDef="let element">
        @if (column.id === 'name') {
        <a class="underline hover:text-blue-900"
           routerLink
           None="['/round', element['id']]">{{
            element[column.id]
        }}</a>
        } @else if (column.id === 'distance_m') {
        {{ toKm(element[column.id]) }}
        } @else if (column.id === 'duration_s') {
        {{ toH(element[column.id]) }}
        } @else {
        {{ element[column.id] }}
        }
    </td>
    </ng-container>
    }
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
