<table-header />
<search-bar (searchChange)="handleSearch($event)"/>
<div class="starting:opacity-0 transition-opacity duration-300 text-xs md:text-sm xl:text-base overflow-x-auto rounded-box border-2 border-neutral-medium bg-white text-neutral-hight">
@if (noData) { <not-found/>}
    <table class="table table-xs md:table-md">
        <thead class="bg-neutral-low">
            <tr>
                @for (column of columns; track column.id) {
                <th (click)="sortColumn(column.id)"
                    class="font-normal cursor-pointer text-neutral-hight">{{ column.traduction }}</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (r of filtered$ | async; track r.id) {
            <tr class="starting:opacity-0 transition-opacity duration-400">
                <td>
                    <a class="underline text-primary-unico" [routerLink]="['/round', r.id]">{{ r.name }}</a>
                </td>
                <td>{{ r.driver_name }}</td>
                <td>{{ r.vehicle_name }}</td>
                <td>
                    @if (typeof r.duration_s === 'number') {
                    {{ toH(r.duration_s) }}
                    }
                </td>
                <td>
                    @if (typeof r.distance_m === 'number') {
                    {{ toKm(r.distance_m) }}
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
